/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-bg-color: #F5F4FA;
    --button-accent-color: #FFFFFF;
}

.page {
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

.logo {
    color: var(--accent-color);
    /* font-size: 26px; */
}

.logo>.logo-black {
    color: #000000;
}

/* Site nav */

.site-nav a {
    color: var(--title-text-color);
    /* font-size: 14px; */
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a:active {
    color: var(--accent-color);
}

.site-nav .link-current {
    color: var(--accent-color);
}

.list-contacts a {
    color: var(--primary-text-color);
    /* font-size: 14px; */
}

.list-contacts a:hover,
.list-contacts a:focus,
.list-contacts a:active {
    color: var(--accent-color);
}

/* Hero */

.hero-title {
    color: var(--button-accent-color);
}

/* Section */

.section-title {
    color: var(--title-text-color);
}

/* Staff */

.staff .staff-title {
    color: var(--title-text-color);
}

/* Features */

.features-list .title {
    color: var(--title-text-color);
}

/* Button */

.button {
    color: var(--title-text-color);
    background-color: var(--button-bg-color);
}

.button:hover,
.button:focus,
.button:active,
.hero-button {
    color: var(--button-accent-color);
    background-color: var(--accent-color);
}

/* filter */

.filter-title {
    color: var(--title-text-color);
}

.filter-text {
    color: var(--primary-text-color);
}



